*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(171deg, #742dd0 0%, #742dd0 8%, #7449d8 8%, #7449d8 31%, #736fdf 31%, #736fdf 36%, #fff 36%, #fff 77%, #f5f9fc 77%, #f5f9fc 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 200vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

.site-title {
  color: #fff;
  font-size: 1em;
  margin-left: 8%;
  margin-right: 30%;
  margin-top: 15px;
}

.nav-bar-opts-one,
.nav-bar-opts-two {
  color: #fff;
  display: flex;
}

.nav-bar-opts-one a,
.nav-bar-opts-two a {
  margin: 15px 30px;
  color: white;
  text-decoration: none;
}

.support-btn {
  background-color: #81d398;
  border-radius: 8px;
  box-shadow: 3px 3px #5b5a61;
  color: #fff;
  font-size: 0.8em;
  height: 40px;
  margin-right: 100px;
  width: 120px;
}

header {
  color: #fff;
  margin: 10% 35%;
  text-align: center;
  width: 28%;
}

.header-text {
  font-size: 3em;
}

.header-text span {
  color: #81d398;
}

.domain-input {
  border: none;
  border-radius: 10px;
  height: 50px;
  padding: 0 11px;
  width: 55%;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.search-btn {
  background-color: #81d398;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8em;
  height: 50px;
  margin: 0 2%;
  padding: 10px;
  width: 100px;
}

.mid-header h3 {
  font-size: .7em;
  font-weight: lighter;
  margin-top: 20%;
  margin-bottom: 10%;
}

.down-arrow {
  background-color: #81d398;
  border-radius: 60%;
  margin: 25px 45%;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.down-arrow a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  font-size: 1.5em;
  margin: 15px 25%;
  text-align: center;
  width: 50%;
}

.create-account-btn {
  background-color: #736fdf;
  border-radius: 10px;
  color: #fff;
  font-size: 0.5em;
  height: 41px;
  width: 200px;
}

.gallery-title h3 {
  margin: 0 45%;
  margin-top: 5%;
}

.gallery-title p {
  margin: 0 48%;
}

.gallery-content article {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #d4d2d2;
  display: grid;
  grid-template-columns: 30% 60%;
  margin: 5% 5%;
}

.gallery-content img {
  height: 50%;
  margin-bottom: 5%;
  margin-top: 25%;
  width: 70%;
}

.gallery-content div {
  margin: 5% 0;
}

.account-content {
  display: flex;
  margin: 2% 12%;
  width: 85%;
}

.account-text h2 {
  color: #d7d8f4;
  font-size: 1.5em;
}

.account-text p {
  color: #9b91bc;
  font-size: 1em;
}

.create-account-btn-two {
  background-color: #736fdf;
  border-radius: 10px;
  color: #fff;
  font-size: 0.5em;
  height: 41px;
  margin-left: 45%;
  margin-right: 4%;
  margin-top: 2%;
  padding: 10px;
  width: 200px;
}

.contact-btn {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px #b2b0d2;
  color: #000;
  font-size: 0.5em;
  height: 41px;
  margin: 2% 0;
  padding: 10px;
  width: 150px;
}

footer {
  background-color: #736fdf;
  color: white;
  display: grid;
  grid-template-columns: 25% 19% 22% 22% 5%;
  padding: 2% 10%;
}

.contact-info {
  margin: 5% 0;
}

.location-info {
  display: grid;
  grid-template-columns: 10% 90%;
}

.location-info p {
  margin: 0;
}

footer a {
  margin: 2% 0;
}

.social-icons {
  display: inline-grid;
  margin-top: 30%;
}

.social-icons img {
  height: 20px;
  margin: 10%;
  width: 50%;
}