*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200vh;
  background: linear-gradient(171deg, #742dd0 0%, #742dd0 8%, #7449d8 8%, #7449d8 31%, #736fdf 31%, #736fdf 36%, #fff 36%, #fff 77%, #f5f9fc 77%, #f5f9fc 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

.siteTitle {
  color: #fff;
  font-size: 1em;
  margin-right: 30%;
  margin-left: 8%;
  margin-top: 15px;
}

.navBarOptsOne,
.navBarOptsTwo {
  display: flex;
  color: #fff;
}

.navBarOptsOne p,
.navBarOptsTwo p {
  margin: 15px 30px;
}

.supportBtn {
  background-color: #81d398;
  color: #fff;
  border-radius: 8px;
  width: 120px;
  box-shadow: 3px 3px #5b5a61;
  font-size: 0.8em;
  height: 40px;
  margin-right: 100px;
}

.siteHeader {
  width: 28%;
  margin: 10% 35%;
  color: #fff;
  text-align: center;
}

.headerText {
  font-size: 3em;
}

.siteHeader span {
  color: #81d398;
}

.domainInput {
  width: 55%;
  height: 50px;
  border-radius: 10px;
  padding: 0 11px;
  border: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.searchBtn {
  background-color: #81d398;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  width: 100px;
  font-size: 0.8em;
  height: 50px;
  margin: 0 2%;
}

.midHeader h3 {
  font-size: .7em;
  margin-top: 25%;
  font-weight: lighter;
}

.downArrow {
  background-color: #81d398;
  border-radius: 60%;
  padding: 15px;
  margin: 15px 45%;
}

.downArrow a {
  text-decoration: none;
  color: #fff;
}

.mainContent {
  width: 50%;
  margin: 15px 25%;
  font-size: 1.5em;
  text-align: center;
}

.createAcctBtn {
  background-color: #736fdf;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  font-size: 0.5em;
  height: 41px;
}

.galleryTitle h1 {
  margin: 0 45%;
  margin-top: 5%;
}

.galleryTitle p {
  margin: 0 48%;
}

​ .galleryContent {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 80%;
  margin: 0 10%;
}

.galleryContent article {
  display: grid;
  grid-template-columns: 30% 60%;
  margin: 5% 5%;
  box-shadow: 1px 1px 1px 1px #d4d2d2;
  border-radius: 10px;
  background-color: #fff;
}

.galleryContent img {
  width: 70%;
  height: 50%;
  margin-top: 25%;
  margin-bottom: 5%;
}

.galleryContent div {
  margin: 5% 0;
}

.accountContent {
  display: flex;
  margin: 2% 12%;
  width: 85%;
}

.accountText h2 {
  color: #d7d8f4;
  font-size: 1.5em;
}

.accountText p {
  color: #9b91bc;
  font-size: 1em;
}

.createAcctBtnTwo {
  background-color: #736fdf;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  font-size: 0.5em;
  height: 41px;
  margin-left: 45%;
  margin-right: 4%;
  margin-top: 2%;
}

.contactBtn {
  background-color: #fff;
  padding: 10px;
  color: #000;
  border-radius: 5px;
  width: 150px;
  box-shadow: 2px 2px #b2b0d2;
  font-size: 0.5em;
  height: 41px;
  margin: 2% 0;
}

.siteFooter {
  display: grid;
  grid-template-columns: 22% 22% 22% 22% 5%;
  color: white;
  padding: 2% 10%;
  background-color:
    #736fdf;
}

.contactInfo {
  margin: 5% 0;
}

.locationInfo {
  display: flex;
}

.socialIcons {
  display: block;
  margin-top: 30%;
}

.socialIcons img {
  width: 50%;
  height: 20px;
  margin: 10%;
}